body{
  margin: 0;
  font-family: 'Lora', serif;
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  display: block;
}

.main{
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  color: white;
  padding: 120px 0;
  display: block;
}

.profile{
  width: 90px;
  height: 85px;
  border-radius: 100%;
}

.float-child-1{
  width: 50%;
  padding: 0;
}

.float-child-2{
  width: 50%;
  padding: 0;
}
.main h1{
  font-size: 38px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.container{
  width: 700px;
  margin: 50px auto;
}

.content h2{
  font-family: 'Montserrat', sans-serif;
  color: #A0A0A0;
  font-weight: normal;
}

.content p{
  font-weight: normal;
}

.main p{
  font-family: 'Lora', serif;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

.content{
  width: 700px;
  margin: 50px auto;
}

p{
  display: block;
}

a{
  text-decoration: none;
}

.link-medium{
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}
.link-medium:hover{
  background-image: linear-gradient(to bottom, rgb(177, 255, 204), rgb(250, 255, 252));
}

@media(max-width: 992px) {
  .container, .content {
    width: 80%;
  }
}
